@model PagedList.IPagedList<ClimateControl.Data.Entities.Sensor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Sensor data";    
}

<h2>Sensor data</h2>
<br/>

<table class="table">
    <tr>
        <th>            
            @Html.ActionLink("Temperature,C", "Index", new { sortOrder = ViewBag.TempSortParam })
        </th>
        <th>            
            @Html.ActionLink("Humidity,%", "Index", new { sortOrder = ViewBag.HumSortParam })
        </th>
        <th>
            @Html.ActionLink("CO2", "Index", new { sortOrder = ViewBag.CO2SortParam })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id })          
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))
