@model ClimateControl.Data.Entities.Sensor    
<div>
    <div>
        <table>
            <tr>
                <td>
                    <img src="~/images/climate.png" class="img-rounded" height="125" width="125" />
                </td>
                <td>                    
                    <h3 class="text-success" align="center"><strong>Climate now:</strong></h3>
                    <ul>
                        <li><h4><strong>Temperature:</strong> @Html.DisplayFor(temp => @Model.Temperature) &#8451;</h4></li>                        
                        <li><h4><strong>Humidity:</strong> @Html.DisplayFor(hum => @Model.Humidity) %</h4></li>
                        <li><h4><strong>CO2:</strong> @Model.CO2 ppm</h4></li>
                        <li><h4><em>Updated: @Html.DisplayFor(timestamp => @Model.Timestamp)</em></h4></li>
                    </ul>                    
                </td>
            </tr>
        </table>
    </div>
</div>
