@model ClimateControl.Web.Models.SensorData
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Climate Monitor Dashboard</h3>        
    <div class="pull-right">
        <div class="well">
            <table>
                <tr>
                    <td>
                        <img src="~/images/climate.png" class="img-rounded" height="125" width="125" />
                    </td>
                    <td>
                        <h3 class="text-success" align="center">Climate now:</h3>
                        <ul>
                            <li>Temperature: @Model.temperature C</li>
                            <li>Humidity: @Model.humidity %</li>
                            <li>CO2: @Model.co2</li>
                            <li>Updated: @Model.timestamp</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <h4>View details</h4>
    <ul>
        <li>@Html.ActionLink("Sensor data", "Index", "Sensor")</li>
        <li>@Html.ActionLink("Temperature chart", "TemperatureChart", "Sensor")</li>
        <li>@Html.ActionLink("Humidity chart", "HumidityChart", "Sensor")</li>
        <li>@Html.ActionLink("CO2 chart", "Co2Chart", "Sensor")</li>
    </ul>
    <br/>
    <h4>Technologies used:</h4>
    <ul class="list-group-item-text">
        <li><a href="https://www.raspberrypi.org/">Raspberry PI</a></li>        
        <li> <a href="https://www.google.com.ua/search?q=mh-z19+sensor&oq=MH-Z19">CO2 sensor - MH-Z19</a></li>
        <li> <a href="https://www.google.com.ua/search?q=DHT22+sensor&oq=DHT22">Temperature & humidity sensor - DHT22</a></li>
        <li><a href="https://github.com/azure/azure-iot-sdk-python">Azure IoT Hub SDK</a> </li>
        <li><a href="https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-what-is-iot-hub">Azure IoT Hub</a></li>
        <li>Backend - Azure SQL database</li>
        <li>Frontend - ASP.NET MVC + Chart.js</li>
    </ul>
</div>
<br/>
<br/>
<div>
    
</div>