@model ClimateControl.Web.Models.SensorData
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <script type="text/javascript">
        setInterval("$('#climatenow').load('Home/ClimateNow')",30000);
    </script>
</head>
<body>
<div class="left">
    <br/>
    <br/>
    <div id="climatenow">
        @Html.Partial("ClimateNow",@Model)
    </div>            
</div>
<br/>
<br/>
<br/>
<div>
    <h4>View details</h4>
    <ul>
        <li>@Html.ActionLink("Sensor data", "Index", "Sensor")</li>
        <li>@Html.ActionLink("Temperature chart", "TemperatureChart", "Sensor")</li>
        <li>@Html.ActionLink("Humidity chart", "HumidityChart", "Sensor")</li>
        <li>@Html.ActionLink("CO2 chart", "Co2Chart", "Sensor")</li>
    </ul>
    <br />
</div>
</body>
</html>
